lens-api/src/main/resources/cube-0.1.xsd

<!--

    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           attributeFormDefault="unqualified"
           elementFormDefault="qualified"
           targetNamespace="uri:lens:cube:0.1"
           xmlns="uri:lens:cube:0.1"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1">
    <xs:annotation>
        <xs:appinfo>
            <jaxb:schemaBindings>
                <jaxb:package name="org.apache.lens.api.metastore"/>
            </jaxb:schemaBindings>
        </xs:appinfo>
    </xs:annotation>
    <xs:element name="x_cube" type="x_cube">
    </xs:element>
    <xs:complexType name="x_cube">
        <xs:annotation>
            <xs:documentation>
             XCube can be a base cube for which user would give the full
             specification of the measures and dimensions. XCube can be
             a Derived cube, for which user would specify only the measure names,
             dimension names and parent. Derived cube can have subset of measure
             names and dimension names defined for its parent. It can have different
             weight and properties associated with.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_measures" name="measures"/>
            <xs:element type="x_dim_attributes" name="dim_attributes"/>
            <xs:element type="x_expressions" name="expressions"/>
            <xs:element type="x_properties" name="properties" minOccurs="0"/>
            <xs:element type="x_measure_names" name="measure_names"/>
            <xs:element type="x_dim_attr_names" name="dim_attr_names"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:double" name="weight"/>
        <xs:attribute type="xs:string" name="parent"/>
        <xs:attribute type="xs:boolean" name="derived" default="false"/>
    </xs:complexType>

    <xs:element name="x_dimension" type="x_dimension">
    </xs:element>
    <xs:complexType name="x_dimension">
        <xs:annotation>
            <xs:documentation>
             XDimension consists the set dimension attributes
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_dim_attributes" name="attributes"/>
            <xs:element type="x_expressions" name="expressions"/>
            <xs:element type="x_properties" name="properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="description"/>
        <xs:attribute type="xs:double" name="weight"/>
    </xs:complexType>

    <xs:complexType name="x_property">
        <xs:annotation>
            <xs:documentation>
                A key-value pair, which are propagated to the cube.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>
    <xs:complexType name="x_properties">
        <xs:annotation>
            <xs:documentation>
                A list of property elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_property" name="properties" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="x_measure">
        <xs:annotation>
            <xs:documentation>
                A cube measure.
            </xs:documentation>
        </xs:annotation>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="description" />
        <xs:attribute type="xs:string" name="display_string" />
        <xs:attribute type="xs:string" name="default_aggr" />
        <xs:attribute type="xs:string" name="format_string" />
        <xs:attribute type="xs:dateTime" name="start_time" />
        <xs:attribute type="xs:dateTime" name="end_time" />
        <xs:attribute type="xs:double" name="cost" />
        <xs:attribute type="xs:string" name="unit" />
        <xs:attribute type="xs:string" name="cube_table"/>
    </xs:complexType>

    <xs:complexType name="x_measures">
        <xs:annotation>
            <xs:documentation>
                Set of measures.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_measure" name="measures" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_measure_names">
        <xs:annotation>
            <xs:documentation>
                Set of measure names.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="measures" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_expr_column">
        <xs:annotation>
            <xs:documentation>
                An expression column
            </xs:documentation>
        </xs:annotation>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="description" />
        <xs:attribute type="xs:string" name="display_string" />
        <xs:attribute type="xs:string" name="expr" />
        <xs:attribute type="xs:string" name="cube_table"/>
    </xs:complexType>

    <xs:complexType name="x_expressions">
        <xs:annotation>
            <xs:documentation>
                Set of x_exprcolumn.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_expr_column" name="expressions" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_dim_attribute">
        <xs:annotation>
            <xs:documentation>
                A cube dimension attribute.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element type="x_tablereferences" name="references" />
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="type" use="required"/>
        <xs:attribute type="xs:string" name="description" />
        <xs:attribute type="xs:string" name="display_string" />
        <xs:attribute type="xs:dateTime" name="start_time" />
        <xs:attribute type="xs:dateTime" name="end_time" />
        <xs:attribute type="xs:double" name="cost" />
        <xs:attribute type="xs:string" name="expr" />
        <xs:attribute type="xs:string" name="cube_table"/>
    </xs:complexType>
    <xs:complexType name="x_tablereference">
        <xs:attribute type="xs:string" name="dest_table" use="required"/>
        <xs:attribute type="xs:string" name="dest_column" use="required"/>
    </xs:complexType>
    <xs:complexType name="x_tablereferences">
        <xs:sequence>
            <xs:element type="x_tablereference" name="table_references" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
 
    <xs:complexType name="x_dim_attributes">
        <xs:annotation>
            <xs:documentation>
                Set of dimensions.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_dim_attribute" name="dim_attributes" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_dim_attr_names">
        <xs:annotation>
            <xs:documentation>
                Set of dimension names.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:string" name="dim_attr_names" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="dimension_table" type="dimension_table">
    </xs:element>
    
    <xs:complexType name="dimension_table">
        <xs:sequence>
            <xs:element type="columns" name="columns"/>
            <xs:element type="update_periods" name="storage_dump_periods"/>
            <xs:element type="x_properties" name="properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="dim_name" type="xs:string" use="required" />
        <xs:attribute name="table_name" type="xs:string" use="required" />
        <xs:attribute name="weight" type="xs:double" />
    </xs:complexType>

    <xs:complexType name="columns">
        <xs:sequence>
            <xs:element name="columns" type="column" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="column">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="comment" type="xs:string" />
    </xs:complexType>

    <xs:complexType name="update_periods">
        <xs:sequence>
            <xs:element name="update_period_element" type="update_period_element" maxOccurs="unbounded" minOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
		
    <xs:complexType name="update_period_element">
        <xs:annotation>
            <xs:documentation>
                Storage name to all its update periods
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="update_periods" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="storage_name" type="xs:string"/>
    </xs:complexType>

	<xs:element name="x_storage" type="x_storage"/>
    <xs:complexType name="x_storage">
        <xs:sequence>
          <xs:element type="x_properties" name="properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="classname" type="xs:string" use="required"/>
    </xs:complexType>

  <xs:element name="x_storage_table_desc" type="x_storage_table_desc"/>
    <xs:complexType name="x_storage_table_desc">
        <xs:sequence>
            <xs:element name="table_parameters" type="x_properties" />        
            <xs:element name="serde_parameters" type="x_properties" />
            <xs:element name="part_cols" type="columns" />
            <xs:element name="bucket_cols" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
            <xs:element name="sort_cols" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
            <xs:element name="sort_col_order" type="xs:int" maxOccurs="unbounded" minOccurs="0" />
            <xs:element name="skewed_info" type="x_skewed_info" />
            <xs:element name="time_part_cols" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="external" type="xs:boolean" use="required"/>
        <xs:attribute name="table_location" type="xs:anyURI"/>
        <xs:attribute name="input_format" type="xs:string" />
        <xs:attribute name="output_format" type="xs:string" />
        <xs:attribute name="field_delimiter" type="xs:string" />
        <xs:attribute name="escape_char" type="xs:string" />
        <xs:attribute name="collection_delimiter" type="xs:string" />
        <xs:attribute name="line_delimiter" type="xs:string" />
        <xs:attribute name="map_key_delimiter" type="xs:string" />
        <xs:attribute name="serde_class_name" type="xs:string" />
        <xs:attribute name="storage_handler_name" type="xs:string" />
        <xs:attribute name="num_buckets" type="xs:int" />
        <xs:attribute name="compressed" type="xs:boolean" />
    </xs:complexType>

  <xs:element name="x_skewed_info" type="x_skewed_info"/>
    <xs:complexType name="x_skewed_info">
        <xs:sequence>
            <xs:element name="col_names" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
            <xs:element name="col_values" type="x_string_list" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="value_location_map" type="x_skewed_value_location" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

  <xs:element name="x_string_list" type="x_string_list"/>
    <xs:complexType name="x_string_list">
        <xs:sequence>
            <xs:element name="elements" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

  <xs:element name="x_skewed_value_location" type="x_skewed_value_location"/>
    <xs:complexType name="x_skewed_value_location">
        <xs:sequence>
            <xs:element name="value" type="x_string_list" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="location" use="required"/>
    </xs:complexType>

  <xs:element name="x_storage_table_element" type="x_storage_table_element"/>

    <xs:complexType name="x_storage_table_element">
        <xs:annotation>
            <xs:documentation>
                Storage and storage table description
            </xs:documentation>
        </xs:annotation>
    <xs:sequence>
        <xs:element name="update_periods" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element name="storage_name" type="xs:string"/>
        <xs:element type="x_storage_table_desc" name="table_desc"/>
    </xs:sequence>
    </xs:complexType>
     <xs:element name="x_storage_tables" type="x_storage_tables"/>
    <xs:complexType name="x_storage_tables">
        <xs:annotation>
            <xs:documentation>
                A list of property elements.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="x_storage_table_element" name="storage_tables" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="partition_list" type="partition_list"/>

    <xs:complexType name="partition_list">
        <xs:sequence>
            <xs:element name="x_partition" type="x_partition" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="x_partition" type="x_partition"/>
		
    <xs:complexType name="x_partition">
        <xs:annotation>
            <xs:documentation>
               Partition details
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="non_time_partition_spec" type="x_part_spec" />
            <xs:element name="time_partition_spec" type="x_time_part_spec"/>
            <xs:element name="full_partition_spec" type="x_part_spec" />
            <xs:element name="partition_parameters" type="x_properties" />
            <xs:element name="serde_parameters" type="x_properties" />            
        </xs:sequence>
        <xs:attribute type="xs:string" name="cube_table_name" use="required"/>
        <xs:attribute type="xs:string" name="name"/>
        <xs:attribute type="xs:string" name="location"/>
        <xs:attribute type="xs:string" name="input_format" />
        <xs:attribute type="xs:string" name="output_format" />
        <xs:attribute type="xs:string" name="serde_classname" />        
        <xs:attribute name="update_period" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="x_part_spec_element">
        <xs:attribute type="xs:string" name="key" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
    </xs:complexType>
    <xs:complexType name="x_part_spec">
        <xs:sequence>
            <xs:element type="x_part_spec_element" name="part_spec_element" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="x_time_part_spec_element">
        <xs:attribute type="xs:string" name="key" use="required"/>
        <xs:attribute type="xs:dateTime" name="value" use="required"/>
    </xs:complexType>
    <xs:complexType name="x_time_part_spec">
        <xs:sequence>
            <xs:element type="x_time_part_spec_element" name="part_spec_element" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="fact_table" type="fact_table"/>
    
    <xs:complexType name="fact_table">
    	<xs:sequence>
            <xs:element type="columns" name="columns"/>
            <xs:element type="update_periods" name="storage_update_periods"/>
            <xs:element type="x_properties" name="properties" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="cube_name" type="xs:string" use="required" />
        <xs:attribute name="weight" type="xs:double" />
    </xs:complexType>

    <xs:element name="native_table" type="native_table"/>
    <xs:complexType name="native_table">
      <xs:sequence>
            <xs:element type="columns" name="columns"/>
            <xs:element type="x_storage_table_desc" name="storage_descriptor"/>
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="dbname" type="xs:string" use="required" />
        <xs:attribute name="owner" type="xs:string" use="required" />
        <xs:attribute name="type" type="xs:string" use="required" />
        <xs:attribute name="createtime" type="xs:int" use="required" />
        <xs:attribute name="lastAccessTime" type="xs:int" use="required" />
    </xs:complexType>

    <xs:element name="flattened_columns">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="measure" type="x_measure" />
                <xs:element name="expression" type="x_expr_column" />
                <xs:element name="dim_attribute" type="x_dim_attribute" />
            </xs:choice>
        </xs:complexType>
    </xs:element>

</xs:schema>
           